
html {
  font-family: "MuseoSans", "helvetica neue", "helveticaneue", "helveticaneueroman", "helveticaneue-roman", "helvetica neue roman",Arial,Helvetica,Verdana,Tahoma,Sans-serif;
}

/*
 * ---------- CSS ---------- *
 */

html {
  // Always scrollbar.
  height: 101%;
  margin: 0 0;
}

// So absolutely positioned stuff wont extend browser window.
#all_content {
  // To cut off absolutely positioned clouds.
  overflow: hidden;
  // So we get a scrollbar when zoomed in.
  min-width: 400px;
}

// Fixed width for actual content.
#container {
  margin: 0 auto;
  margin-top: 60px;
  width: 400px;
  // This is so lower absolute stuff goes above %html bg color.
  position: relative;
  z-index: 1;
}

p {
  font-size: 14px;
  color: #444;
  line-height: 150%;
  margin: 30px 0;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #444;
}
a:hover {
  color: #4A4;
}

img#email_address {
  display: none;
}

.footer {
  margin: 40px 0 30px 0;
  padding-top: 5px;
  color: #ccc;
  font-size: 12px;
  a {
    color: #888;
    font-weight: normal;
    margin-right: 15px;
  }
  a:hover {
    color: #4A4;
  }
}

.spacer {
  text-align: center;
  margin: 25px 0;
  font-size: 10px;
  color: #aaa;
}

// Smaller container for homepage.
body#home {
  #container {
    width: 300px;
  }
}

// Lists.
ol, ul {
  margin-left: 0;
  padding-left: 0;
  li {
    font-size: 13px;
    line-height: 150%;
    margin-bottom: 5px;
    color: #444;
  }
}


/*
 * ---------- blog ---------- *
 */

body#post {
  h2.post_title {
    margin-bottom: 5px;
  }
  p.post_subheader {
    color: #999;
    margin: 0 0 20px 0;
  }
}

.social_buttons {
  float: right;
  overflow: hidden;
  padding-top: 4px;
  div {
    float: right;
    padding-left: 4px;
  }
}

@media only screen and (max-device-width: 480px) {
  #all_content {
    min-width: none;
    width: auto;
  }
  #container {
    width: 90%;
  }
  body#home {
    #container {
      width: 90%;
    }
  }
  p {
    font-size: 32px;
  }
  h2 {
    font-size: 90px;
  }
  h2.post_title {
    font-size: 60px;
  }
  p.post_subheader {
    font-size: 32px;
    color: #999;
    margin: 0 0 20px 0;
  }
  .footer {
    a {
      font-size: 32px;
    }
  }
}
