/*
 * ---------- WEB FONTS ---------- *
 */
@font-face {
  font-family: 'MuseoSans';
  src: url('/webfonts/museosans_300-webfont.eot');
  src: url('/webfonts/museosans_300-webfont.eot?#iefix') format('embedded-opentype'),
  url('/webfonts/museosans_300-webfont.woff') format('woff'),
  url('/webfonts/museosans_300-webfont.ttf') format('truetype'),
  url('/webfonts/museosans_300-webfont.svg#MuseoSans300') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('/webfonts/museosans_500-webfont.eot');
  src: url('/webfonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
  url('/webfonts/museosans_500-webfont.woff') format('woff'),
  url('/webfonts/museosans_500-webfont.ttf') format('truetype'),
  url('/webfonts/museosans_500-webfont.svg#MuseoSans500') format('svg');
  font-weight: bold;
  font-style: normal;
}

html {
  font-family: "MuseoSans", "helvetica neue", "helveticaneue", "helveticaneueroman", "helveticaneue-roman", "helvetica neue roman",Arial,Helvetica,Verdana,Tahoma,Sans-serif;
}

/*
 * ---------- CSS ---------- *
 */

html {
  // Always scrollbar.
  height: 101%;
  margin: 0 0;
}

// So absolutely positioned stuff wont extend browser window.
#all_content {
  // To cut off absolutely positioned clouds.
  overflow: hidden;
  // So we get a scrollbar when zoomed in.
  min-width: 300px;
}

// Fixed width for actual content.
#container {
  margin: 0 auto;
  margin-top: 60px;
  width: 300px;
  // This is so lower absolute stuff goes above %html bg color.
  position: relative;
  z-index: 1;
}

p {
  font-size: 14px;
  color: #444;
  line-height: 150%;
  margin: 30px 0;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #444;
}
a:hover {
  color: #4A4;
}

img#email_address {
  display: none;
}