<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} | Kapil Kale's Blog</title>
    <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34881072-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>


  <body id="post">
    <div id="schpiel">
      <p>I'm looking for engineers and designers to help me build out <a>a new real estate startup</a>. Sound interesting? Let's grab a drink in San Francisco.</p>
    </div>
    <div id="all_content">
      <div id="container">
        <div class="social_buttons">
          <div>
            <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.kapilkale.com/blog{{ page.url }}" data-count="vertical" data-text="{{ page.title }}" data-via="kapilvkale">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
          </div>
          <div>
            <iframe src="http://www.facebook.com/plugins/like.php?app_id=420987101301986&amp;href=http://www.kapilkale.com/blog{{ page.url }}&amp;send=false&amp;layout=box_count&amp;width=50&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=40" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:70px; padding-top:2px;" allowTransparency="true"></iframe>
          </div>
        </div>
        <!-- post info -->
        <h2 class="post_title"><a href="/blog{{ page.url }}">{{ page.title }}</a></h2>

        <p class="post_subheader">{{ page.date_published }} by {{ page.author }}</p>

        <div class="post_content">
          {{ content }}
        </div>

        <div class="footer">
          <a href="/">Home</a>
          <a href="/blog">Blog</a>
        </div>
        <div class="comment_box">
          <fb:comments href="http://www.kapilkale.com/blog{{ page.url }}" num_posts="10" width="400px"></fb:comments>
          <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
        </div>
        <div class="spacer">
          (c) Kapil Kale
        </div>
      </div>
    </div>
  </body>
</html>
