%head
  %title
    Kapil Kale's blog
  %meta{:name => "description", :content => 'Kapil Kale\'s personal page'}
    
  %link{:href => "stylesheets/application.css", :rel => "stylesheet", :type => "text/css"}
  %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js", :type => "text/javascript"}
  %script{:src => "/application.js", :type => "text/javascript"}
  -# GA tracking.
  = erb :analytics

%body
  #all_content
    #container
      %h2
        Kapil Kale
      %p
        Blog coming soon
      = haml :footer