%head
  %title
    Kapil Kale
  %meta{:name => "description", :content => 'Hi, I\'m Kapil.'}
    
  %link{:href => "stylesheets/application.css", :rel => "stylesheet", :type => "text/css"}

%body
  #all_content
    #container
      Welcome!