/* line 2, ../../sass/application.scss */
html {
  font-family: "MuseoSans", "helvetica neue", "helveticaneue", "helveticaneueroman", "helveticaneue-roman", "helvetica neue roman", Arial, Helvetica, Verdana, Tahoma, Sans-serif;
}

/*
 * ---------- CSS ---------- *
 */
/* line 10, ../../sass/application.scss */
html {
  height: 101%;
  margin: 0 0;
}

/* line 17, ../../sass/application.scss */
#all_content {
  overflow: hidden;
  min-width: 400px;
}

/* line 25, ../../sass/application.scss */
#container {
  margin: 0 auto;
  margin-top: 60px;
  width: 400px;
  position: relative;
  z-index: 1;
}

/* line 34, ../../sass/application.scss */
p {
  font-size: 14px;
  color: #444;
  line-height: 150%;
  margin: 30px 0;
}

/* line 41, ../../sass/application.scss */
a {
  text-decoration: none;
  font-weight: bold;
  color: #444;
}

/* line 46, ../../sass/application.scss */
a:hover {
  color: #4A4;
}

/* line 50, ../../sass/application.scss */
img#email_address {
  display: none;
}

/* line 54, ../../sass/application.scss */
.footer {
  margin: 40px 0 30px 0;
  padding-top: 5px;
  color: #ccc;
  font-size: 12px;
}
/* line 59, ../../sass/application.scss */
.footer a {
  color: #888;
  font-weight: normal;
  margin-right: 15px;
}
/* line 64, ../../sass/application.scss */
.footer a:hover {
  color: #4A4;
}

/* line 69, ../../sass/application.scss */
.spacer {
  text-align: center;
  margin: 25px 0;
  font-size: 10px;
  color: #aaa;
}

/* line 78, ../../sass/application.scss */
body#home #container {
  width: 300px;
}

/* line 84, ../../sass/application.scss */
ol, ul {
  margin-left: 0;
  padding-left: 0;
}
/* line 87, ../../sass/application.scss */
ol li, ul li {
  font-size: 13px;
  line-height: 150%;
  margin-bottom: 5px;
  color: #444;
}

/*
 * ---------- blog ---------- *
 */
/* line 101, ../../sass/application.scss */
body#post h2.post_title {
  margin-bottom: 5px;
}
/* line 104, ../../sass/application.scss */
body#post p.post_subheader {
  color: #999;
  margin: 0 0 20px 0;
}

/* line 110, ../../sass/application.scss */
.social_buttons {
  float: right;
  overflow: hidden;
  padding-top: 4px;
}
/* line 114, ../../sass/application.scss */
.social_buttons div {
  float: right;
  padding-left: 4px;
}

@media only screen and (max-device-width: 480px) {
  /* line 121, ../../sass/application.scss */
  #all_content {
    min-width: none;
    width: auto;
  }

  /* line 125, ../../sass/application.scss */
  #container {
    width: 90%;
  }

  /* line 128, ../../sass/application.scss */
  p {
    font-size: 32px;
  }

  /* line 131, ../../sass/application.scss */
  h2.post_title {
    font-size: 60px;
  }

  /* line 134, ../../sass/application.scss */
  p.post_subheader {
    font-size: 32px;
    color: #999;
    margin: 0 0 20px 0;
  }
}
