@import "http://fonts.googleapis.com/css?family=Ubuntu";
/* line 2, ../../sass/application.scss */
html {
  font-family: "helvetica neue", "helveticaneue", "helveticaneueroman", "helveticaneue-roman", "helvetica neue roman",Arial,Helvetica,Verdana,Tahoma,Sans-serif;
}

/*
 * ---------- CSS ---------- *
 */
/* line 12, ../../sass/application.scss */
html {
  height: 101%;
  margin: 0 0;
}

/* line 18, ../../sass/application.scss */
body {
  margin: 0 0;
}

/* line 23, ../../sass/application.scss */
#all_content {
  overflow: hidden;
  min-width: 400px;
}

/* line 29, ../../sass/application.scss */
#schpiel {
  background-color: #2a2a2a;
}
/* line 31, ../../sass/application.scss */
#schpiel p {
  text-align: center;
  color: #ddd;
  font-size: 12px;
  width: 400px;
  margin: 0px auto;
  padding: 5px 0;
}

/* line 42, ../../sass/application.scss */
#container {
  margin: 0 auto;
  margin-top: 60px;
  width: 400px;
  position: relative;
  z-index: 1;
}

/* line 51, ../../sass/application.scss */
p {
  font-size: 14px;
  color: #444;
  line-height: 150%;
  margin: 30px 0;
}

/* line 58, ../../sass/application.scss */
a {
  text-decoration: none;
  color: #2C91C0;
}

/* line 62, ../../sass/application.scss */
a:hover {
  text-decoration: underline;
}

/* line 65, ../../sass/application.scss */
h2 {
  font-family: "ubuntu";
}

/* line 68, ../../sass/application.scss */
h2 a {
  font-family: "ubuntu";
  color: #444;
}

/* line 72, ../../sass/application.scss */
img#email_address {
  display: none;
}

/* line 76, ../../sass/application.scss */
.footer {
  margin: 40px 0 30px 0;
  padding-top: 5px;
  color: #ccc;
  font-size: 12px;
}
/* line 81, ../../sass/application.scss */
.footer a {
  color: #888;
  font-weight: normal;
  margin-right: 15px;
}
/* line 86, ../../sass/application.scss */
.footer a:hover {
  color: #2C91C0;
}

/* line 91, ../../sass/application.scss */
.spacer {
  text-align: center;
  margin: 25px 0;
  font-size: 10px;
  color: #aaa;
}

/* line 100, ../../sass/application.scss */
body#home #container {
  width: 300px;
}

/* line 106, ../../sass/application.scss */
ol, ul {
  margin-left: 0;
  padding-left: 0;
}
/* line 109, ../../sass/application.scss */
ol li, ul li {
  font-size: 13px;
  line-height: 150%;
  margin-bottom: 5px;
  color: #444;
}

/*
 * ---------- blog ---------- *
 */
/* line 123, ../../sass/application.scss */
body#post h2.post_title {
  font-family: "ubuntu";
  margin-bottom: 5px;
}
/* line 127, ../../sass/application.scss */
body#post p.post_subheader {
  color: #999;
  margin: 0 0 20px 0;
}

/* line 133, ../../sass/application.scss */
.social_buttons {
  float: right;
  overflow: hidden;
  padding-top: 4px;
}
/* line 137, ../../sass/application.scss */
.social_buttons div {
  float: right;
  padding-left: 4px;
}

@media only screen and (max-device-width: 480px) {
  /* line 144, ../../sass/application.scss */
  #all_content {
    min-width: none;
    width: auto;
  }

  /* line 148, ../../sass/application.scss */
  #container {
    width: 90%;
  }

  /* line 152, ../../sass/application.scss */
  body#home #container {
    width: 90%;
  }

  /* line 156, ../../sass/application.scss */
  a {
    color: #4A4;
  }

  /* line 159, ../../sass/application.scss */
  p {
    font-size: 36px;
    margin: 50px 0;
  }

  /* line 163, ../../sass/application.scss */
  h2 {
    font-family: "ubuntu";
    font-size: 90px;
    color: #333;
  }
  /* line 167, ../../sass/application.scss */
  h2 a {
    color: #333;
  }

  /* line 171, ../../sass/application.scss */
  h2.post_title {
    font-family: "ubuntu";
    font-size: 60px;
    color: #333;
  }

  /* line 176, ../../sass/application.scss */
  p.post_subheader {
    font-size: 36px;
    line-height: 150%;
    color: #999;
    margin: 0 0 20px 0;
  }

  /* line 183, ../../sass/application.scss */
  .footer a {
    font-size: 32px;
  }
}
